h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(128, 128, 128);
  }

  p{
    font-size: 16px;
    color: chocolate;
    border: 1px; border-style: groove;
  }
  li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
  }
  table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darksalmon;
    border: 2px;
    border-width: 3px;
    
    background-color: brown;
    outline-color: cadetblue;
    column-rule-color: white;
  }
  a{
    color: brown;
  }
  /*selector de id solo sirve para asignarlo a una etiqueta*/
  #serious {
    background: red;
    color: blue;
    font-size: 16px;
  }
  /*selector de clase sirve para asignarlo muchas etiquetas*/
  /*investigar pseudo clases y pseudo elementos y selectores de atributos*/
  .container {
    background: rgb(0, 255, 64);
    color: blue;
    font-size: 16px;
  }

  .parrafos {
    color: blueviolet;
    background-color: darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  }

  .parrafo_normal{
    font-family:monospace;
    color: crimson;
  }

  /*pseudo clase estados*/
  h1:hover{
    color: black;
  }
a[href*="www"]{
background-color: green;
}

/*modificador de clase existente*/
.parrafo_normal::first-line{
    background-color: aqua;
}

div a[href*="linking"]{
    background-color: rgb(0, 225, 255);
    }


/*combinadores*/
/*descendientess*/
div p{
background-color:blanchedalmond;
}

/*combinadores combinadores hijos directo*/

ol > li{
color: chartreuse;
font-weight: 200;
}
/*hermanos adyacentes
hace que los h2 que se encuentren inmedientamente despues de un h1 
sean seleccionados*/

h1 + h2 {
color: darkblue;
}
/*hermanos generales
se seleccionan todos los elementos h2 que esten despues del primer h1*/
h2~h3{
background-color: burlywood;
}

div p[align="right"]{
background-color: green;
}
input {
    display: block;
    padding: 1rem;
    min-width: 24rem;
    background-color:rgb(240, 240, 240);
    
}
input.text {
    font-size: 1rem;
    margin: auto;
    min-width: auto;
    text-align: center;
    padding: 20px;
    
}
input.submit {
  background-color:rgb(255, 187, 0);
  color:black;
  margin: auto;
  border-radius: 5px;

  
}
input.form{
  font-style: italic;
  position: relative;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url("../images/dibujo.svg");
    background-size: cover;
}
.icono-cabecera {
  width: 8rem;
  height: 9rem;
  margin: auto;
  position: relative;
  top: 10rem;
  z-index: 99;
}
.formulario-login {
  width: 28rem;
  padding: 30px;
  margin: auto;
  position: relative;
  top: 120px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: center;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menu-horizontal > li > a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
.menu-horizontal > li:hover {
  background-color: rgb(21, 83, 134);
  border-radius: 15px;
}
.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgb(21, 83, 134);
  border-radius: 15px;
}
.menu-horizontal li:hover .menu-vertical {
  display: block;
}
.menu-vertical li:hover {
  background-color: #74a6b8;
  border-radius: 15px;
}
.menu-vertical li a {
  display: block;
  color: white;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}